[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
mypy = "*"
yapf = "*"

[packages]
click = "*"
music22 = "*"
mido = "*"
python-rtmidi = "*"
blessings = "*"

[requires]
python_version = "3.7"
